name: CI
on:
  push:
    branches:
      - master
      - feature-test
  pull_request:
    branches:
      - master
      - feature-test
jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Linter (flake8)
        run: |
          flake8 src test

      - name: Run Unit Test (pytest)
        run: |
          pytest
